aniso8601==9.0.1
bcrypt==3.2.0
cffi==1.14.5
click==7.1.2
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-JWT-Extended==4.1.0
Flask-Login==0.5.0
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.5.1
greenlet==1.0.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pycparser==2.20
python-http-client==3.3.2
pytz==2021.1
sendgrid==6.7.0
six==1.15.0
SQLAlchemy==1.4.11
starkbank-ecdsa==1.1.0
Werkzeug==1.0.1
