{% extends 'parent.html' %}    
{% block content %}
<h5>LOGIN FORM</h5>    
<form action="{{ url_for('login') }}" method="POST" class="form-example">
        <div class="form-example">
            <label for="email">Email: </label>
            <input type="email" name="email" id="email" placeholder="UIN Ar-Raniry Email">
            <small style="color: blue;">Email UIN Ar-Raniry change your NIM become your name</small>
        </div>
        <div class="form-example">
            <label for="password">Password: </label>
            <input type="password" name="password" id="password">
        </div>
        <div class="form-example">
          <input type="submit" value="Login">
        </div>
      </form>
      <div>
        <p>Create an acoount it is Free! <a href="{{ url_for('register') }}">Register</a> </p>
      </div>

{% endblock %}